{% extends 'backBase.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block js %}

{% endblock %}

{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Newsletters </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class=""><a class="btn btn-info" href="{{ asset('/admin/newsletter/new') }}">Manage plans</a></li>
                        <li class="ml-2"><a class="btn btn-light" href="{{ asset('/admin/subscription') }}">Subscribers</a></li>
                        <li class="ml-2"><a class="btn btn-success" href="{{ asset('/admin/newsletter/new') }}">+ Write a new newsletter</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped ">
                                <thead>
                                <tr>
                                    <th> Picture </th>
                                    <th> ID </th>
                                    <th> Title </th>
                                    <th> Author </th>
                                    <th> Date </th>
                                    <th> Sent </th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- ***** Fourat Note **** -->
                                <!-- Bech t7il for lina t3abi el table -->

                                {% for newsletter in newsletters %}
                                <tr onclick="">
                                    <td class="py-1">
                                        <!-- ***** Fourat Note **** -->
                                        <!-- ***** assert('Games/'~game.id) -->
                                        <img src="{{ asset('back/images/faces-clipart/pic-1.png') }}" alt="image" />
                                    </td>
                                    <td> {{ newsletter.id }}</td>
                                    <td> {{ newsletter.title }}</td>
                                    <td> {{ newsletter.author }}</td>
                                    <td> {{ newsletter.date|date('Y-m-d') }}</td>
                                    {% if (newsletter.sent) %}
                                        <td><label class="badge badge-success">Sent</label></td>
                                    {% else %}
                                        <td><label class="badge badge-warning">Pending</label></td>
                                    {% endif %}
                                    <td> <a class="" href="{{ path('admin_newsletter_edit', {'id':newsletter.id}) }}">
                                            <i class="mdi mdi-pencil mdi-18px"></i>
                                        </a></td>


                                    <td> <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="mdi mdi-delete text-danger mdi-18px"></i>

                                        </a>
                                    <div class="dropdown-menu">
                                        <h6 class="dropdown-header">Are you sure to delete this newsletter?</h6>
                                        <a class="dropdown-item text-danger" href="{{ path('admin_newsletter_delete', {'id':newsletter.id}) }}">Delete</a>
                                    </div></td>
                                </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}