{% extends 'backBase.html.twig' %}


{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Newsletter </h3>

                <li class="breadcrumb-item active" aria-current="page">Add newsletter</li>
            </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}

                    <div class="form-group">
                        <label for="newsletterTitle">Title</label>
                        {{ form_widget(form.title,{'attr':{'class':'form-control', 'placeholder':'Title'}}) }}
                        <div class="text-danger">{{ form_errors(form.title) }}</div>
                    </div>

                    <div class="form-group">
                        <label for="newsletterContent">Content</label>
                        {{ form_widget(form.content,{'attr':{'class':'form-control', 'placeholder':'Content', 'style':'height:300px'}}) }}
                        <div class="text-danger">{{ form_errors(form.content) }}</div>
                    </div>
                    <div class="form-group">
                        <label for="newsletterContent">Plan</label>
                        {{ form_widget(form.plan,{'attr':{'class':' form-control'}}) }}
                        <div class="text-danger">{{ form_errors(form.content) }}</div>
                    </div>

                    <div class="form-check form-check-flat form-check-primary">
                        <label class="form-check-label">
                        {{ form_widget(form.sent, {'attr':{'class':'form-check-input'}}) }} Send</label>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a class="btn btn-dark">Cancel</a>
            </div>
            {% do form.date.setRendered() %}
            {% do form.author.setRendered() %}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}